<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml">
    <springprofile name="dev,staging">
        <logger name="guru.springframework.controllers" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE">
        </appender-ref></logger>>
    </springprofile>
    <springprofile name="production">
    <logger name="guru.springframework.controllers" level="WARN" additivity="false">
        <appender-ref ref="FILE">
    </appender-ref></logger>
    </springprofile>
    <if condition="property(&quot;spring.profiles.active&quot;).contains(&quot;dev&quot;)">
        <then>
            <logger name="guru.springframework.helpers" level="DEBUG" additivity="false">
                <appender-ref ref="CONSOLE">
            </appender-ref></logger>
        </then>
        <else>
            <logger name="guru.springframework.helpers" level="WARN" additivity="false">
                <appender-ref ref="FILE">
            </appender-ref></logger>
        </else>
    </if>
</include></configuration>
